html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sky {
  fill: url(#skyGradient);
}

.stop1 {
  stop-color: white;
}

.stop2 {
  stop-color: red;
}

.sun {
  fill: yellow;
}
